label {
    color: darkslategrey;
    font-weight: bold;
}

html, body, h1, h2, h3, h4, h5 {
    font-family: "Open Sans", sans-serif
}

.validation_error {
    color: crimson;
    font-size: smaller;
    display: block;
}

.select_container {
    display: flex;
    align-items: center;
}

.chat_container {
    height: 70vh;
    vertical-align: bottom;
    overflow-y: scroll;
}